@{
    Layout = "~/Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        h1, h2 {
            font-size: 100px;
            color: #00e4ff;
            text-align: center;
            opacity: 0.6;
            filter: alpha(opacity=60);
        }     
    </style>
</head>
<body>

    <h1>Hello</h1>
    <h2>wellcome to movies rental page</h2>
</body>
</html>
